.preloader {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	background-color: #fff;
	padding: 80px 0;
}

.preloader__image {
	display: block;
	width: 50px;
	height: 50px;
	background:#1A1B22 ;
	border-radius: 50%;
	animation: spin 1s infinite linear;
	position: relative;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

.preloader__image::before,
.preloader__image::after {
	content: '';
	position: absolute;
}

.preloader__image::before {
    border-radius: 50%;
    background:
        linear-gradient(0deg,   hsla(210, 11%, 96%, 1  ) 50%, hsla(210, 11%, 96%, 0.9) 100%)   0%   0%,
        linear-gradient(90deg,  hsla(210, 11%, 96%, 0.9)  0%, hsla(210, 11%, 96%, 0.6) 100%) 100%   0%,
        linear-gradient(180deg, hsla(210, 11%, 96%, 0.6)  0%, hsla(210, 11%, 96%, 0.3) 100%) 100% 100%,
        linear-gradient(360deg, hsla(210, 11%, 96%, 0.3)  0%, hsla(210, 11%, 96%, 0  ) 100%)   0% 100%
    ;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
}

.preloader__image::after {
    background: #fff;
    border-radius: 50%;
    top: 3%;
    bottom: 3%;
    left: 3%;
    right: 3%;
}

.preloader__text {
	font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
	color: #B6BCBF;
	margin: 0;
    margin-top: 24px;
}